* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: Iosevka;
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    background-image: linear-gradient(-65deg, #173f4f 10%, #35b9ab 40%, #173f4f 90%);
    color: white;
    border-radius: 20px;
    min-width: 25px    
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-image: linear-gradient(-65deg, #35b9ab 10%, #173f4f 40%, #35b9ab 90%);
    color: white;
}

#workspaces button.focused {
    background: #1f1f1f;
}

#workspaces button.focused:hover {
    background: lightblue;
    color: white;
    border-bottom: 3px solid white;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: white;
}

#window,
#workspaces {
    margin: 0px 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {   
    background-color: #35b9ab;
    background-image: linear-gradient(-45deg, #35b9ab 0%, #35b9ab 10%, #173f4f 90%);
    color: white;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

#custom-zypper {
   background-color: #35b9ab;
   background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 10%, #173f4f 90%);
   min-width: 50px

}


#battery {
    background-color: white;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: white;
    background-color: #173f4f;
}

@keyframes blink {
    to {
        background-color: white;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#custom-gpu_temp {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 10%, #173f4f 90%);
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 1%, #173f4f 60%);
    color: white;
    border-radius: 20px 0px 0px 20px;
    min-width: 30px;
}

#custom-gpu_usage {
    background-color: #35b9ab;
    background-image: linear-gradient(-45deg, #173f4f 0%, #173f4f 10%, #173f4f 90%);
    color: white;
    min-width: 60px;
}

#custom-power {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 10%, #173f4f 90%);
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 1%, #173f4f 60%);
    color: white;
    border-radius: 20px 0px 0px 20px;
    min-width: 85px;
}
#custom-refreshrate {
    background-color: #35b9ab;
    background-image: linear-gradient(-45deg, #173f4f 0%, #173f4f 10%, #173f4f 90%);
    color: white;
    min-width: 60px;
}
/*
#custom-fan {
    background-color: #35b9ab;
    background-image: linear-gradient(-45deg, #173f4f 0%, #173f4f 10%, #173f4f 90%);
    color: white;
    min-width: 20px;
}
*/
#custom-fan {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 10%, #173f4f 90%);
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 1%, #173f4f 60%);
    color: white;
    border-radius: 20px 0px 0px 20px;
    min-width: 25px;
}


#memory {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#disk {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#backlight {
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
}

#network {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#network.disconnected {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: red;
}

#pulseaudio {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#pulseaudio.muted {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: red;
}
#custom-media {
    background-color: #8EC5FC;
    background-image: linear-gradient(-65deg, #173f4f 0%, #35b9ab 50%, #173f4f 90%);
    color: white;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

#custom-media.custom-spotify {
    background-color: #8EC5FC;
    background-image: linear-gradient(-65deg, #173f4f 10%, #35b9ab 40%, #173f4f 90%);
    color: white;
    border-radius: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

#custom-media.custom-vlc {
    background-color: #8EC5FC;
    background-image: linear-gradient(-65deg, #173f4f 0%, #35b9ab 50%, #173f4f 90%);
    color: white;
    border-radius: 20px;
    margin-right: 5px;
}


#custom-launcher{
    background-color: #173f4f;
    font-size: 30px;
    border-radius: 20px;
    margin-right: 2px;
    min-width: 35px;
}
#custom-kbd{
    background-color: #173f4f;
    font-size: 25px;
    border-radius: 20px;
    margin-right: 2px;
    min-width: 35px;
}


#custom-updater {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#custom-snip {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #173f4f 0%, #173f4f 52%, #173f4f 90%);
    color: white;
    font-size: 20px;
}

#custom-layout{
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #173f4f 52%, #173f4f 90%);
    color: white;
    font-size: 18px;
    border-radius: 20px 0px 0px 20px;
}

#taskbar {
    background-color: #173f4f;
    background-image: linear-gradient(-65deg, #173f4f 0%, #35b9ab 50%, #173f4f 90%);
    border-radius: 20px;

}

#temperature {
    background-color: #35b9ab;
    background-image: linear-gradient(-65deg, #35b9ab 0%, #35b9ab 1%, #173f4f 60%);
    color: white;
    border-radius: 0px 20px 20px 0px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 10%, #173f4f 90%);
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 1%, #173f4f 60%);
    color: white;
    border-radius: 20px 0px 0px 20px;
    min-width: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #35b9ab;
    background-image: linear-gradient(-45deg, #35b9ab 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #35b9ab;
    background-image: linear-gradient(-45deg, #35b9ab 0%, #173f4f 52%, #173f4f 90%);
    color: white;
}

#idle_inhibitor {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #35b9ab 10%, #173f4f 90%);
    border-radius: 20px 0px 0px 20px;

}

#idle_inhibitor.activated {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #173f4f 52%, #173f4f 90%);
    color: white;
    border-radius: 20px 0px 0px 20px;

}

#language {
    background-color: #35b9ab;
    background-image: linear-gradient(45deg, #35b9ab 0%, #173f4f 52%, #173f4f 90%);
    color: white;
    min-width: 16px;
    padding-left : 8px;
    border-radius: 20px 0px 0px 20px;
}
 
#keyboard-state {
    background: #97e1ad;
    color: #000000;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
